{
    "knight": (
        x_axis: [
            [(i: -25, j: 0), (i: -3, j: 0), (i: -23, j: 0), (i: -4, j: 0)],
            [(i: 0, j: 0), (i: 0, j: 0), (i: 0, j: 0), (i: 0, j: 0)],
            [(i: 25, j: 0), (i: 3, j: 0), (i: 23, j: 0), (i: 4, j: 0)],
        ],
        y_axis: [
            [(i: 0, j: -2), (i: 0, j: -9), (i: 0, j: -2), (i: 0, j: -9)],
            [(i: 0, j: 0), (i: 0, j: 0), (i: 0, j: 0), (i: 0, j: 0)],
            [(i: 0, j: 8), (i: 0, j: 2), (i: 0, j: 9), (i: 0, j: 2)],
        ]
    )
}
