{
    BlueKnight: {6: 0xa, 7: 0x7, 8: 0x4},
    OrangeKnight: {6: 0xf80, 7: 0xc50, 8: 0xa30},
    GreenKnight: {6: 0x8c6, 7: 0x593, 8: 0x251},
    RedKnight: {6: 0xf22, 7: 0xb22, 8: 0x700},
    BlackKnight: {6: 0x206, 7: 0x103, 8: 1},
    BlueFlashKnight: {6: 0xc, 7: 0x9, 8: 0x6},
    OrangeFlashKnight: {6: 0xfa0, 7: 0xe70, 8: 0xc50},
    RedFlashKnight: {6: 0xd00, 7: 0x900, 8: 0x500},
    GreenFlashKnight: {6: 0xae8, 7: 0x6b5, 8: 0x473},
    BlackFlashKnight: {6: 0x408, 7: 0x405, 8: 3},
    TroggSpear: {
        9: 0x104,
        10: 0x102,
        11: 0,
        12: 0x600,
        13: 0x300,
        14: 0x639,
        15: 0xc00,
    },
    Balok: {
        9: 0xf96,
        10: 0xc63,
        11: 0x930,
        12: 0x842,
        13: 0x521,
        14: 0xf63,
        15: 0xc00,
    },
    Grassland: {
        16: 0x210,
        17: 0x512,
        18: 0x743,
        19: 0x854,
        20: 0x956,
        21: 0xc85,
        22: 0x8e7,
        23: 0x471,
        24: 0xea4,
        25: 0xa62,
        26: 0x752,
        27: 0x531,
        28: 0x7d,
    }
}
